<?xml version="1.0"?>
<!-- -->
<launch>
  <arg name="delay" default="5"/>
  <!-- teams -->
  <!-- team red -->
  <node pkg="player_moliveira" type="player_moliveira_node" name="moliveira" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_lsarmento" type="player_lsarmento_node" name="lsarmento" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_blourenco" type="player_blourenco_node" name="blourenco" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_jmota" type="player_jmota_node" name="jmota" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_bramos" type="player_bramos_node" name="bramos" respawn="true" respawn_delay="$(arg delay)"/>
  <!-- team green -->
  <node pkg="player_rsilva" type="player_rsilva_node" name="rsilva" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_tmarques" type="player_tmarques_node" name="tmarques" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_pboucanova" type="player_pboucanova_node" name="pboucanova" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_filipecosta" type="player_filipecosta_node" name="filipecosta" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_tosorio" type="player_tosorio_node" name="tosorio" respawn="true" respawn_delay="$(arg delay)"/>
  <!-- team blue  -->
  <node pkg="player_amartins" type="player_amartins_node" name="amartins" respawn="true" respawn_delay="$(arg delay)"/>
  <!--<node pkg="player_resteves" type="player_resteves_node" name="resteves" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <node pkg="player_nsilva" type="player_nsilva_node" name="nsilva" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_jrodrigues" type="player_jrodrigues_node" name="jrodrigues" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_ssantos" type="player_ssantos_node" name="ssantos" respawn="true" respawn_delay="$(arg delay)"/>
  <!-- end teams -->
  <!--Load the parameters-->
  <rosparam command="load" file="$(find rws2018_bringup)/params/default.yaml"/>
  <!--Launch the visualization-->
  <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find rws2018_bringup)/config/rviz.rviz" required="true"/>
  <!--Launch the referee-->
  <node pkg="rws2018_referee" type="referee.py" name="referee" output="screen"/>
  <!--Launch the killer-->
  <node pkg="rws2018_referee" type="killer.py" name="killer"/>
  <node pkg="rws2018_referee" type="draw_teams" name="draw_teams"/>
  <!--[>Launch the players<]-->
  <!--[>Team red<]-->
  <!--<node pkg="player_idomingues" type="player_idomingues" name="idomingues" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_mcamarneiro" type="player_mcamarneiro" name="mcamarneiro" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_jxavier" type="player_jxavier" name="jxavier" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--[>Team Green<]-->
  <!--<node pkg="player_jsantos" type="player_jsantos" name="jsantos" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_testeves" type="player_testeves" name="testeves" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_jleao" type="player_jleao" name="jleao" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--[>Team blue<]-->
  <!--[><node pkg="player_moliveira" type="player_moliveira" name="moliveira" output="screen" respawn="true" respawn_delay="$(arg delay)"/><]-->
  <!--<node pkg="player_mmiranda" type="player_mmiranda" name="mmiranda" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_mriem" type="player_mriem" name="mriem" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--<node pkg="player_dcampos" type="player_dcampos" name="dcampos" output="screen" respawn="true" respawn_delay="$(arg delay)"/>-->
  <!--[><node pkg="player_moliveira" type="player_moliveira" name="dummyred" output="screen" respawn="true" respawn_delay="$(arg delay)"><]-->
  <!--[><remap from="moliveira" to="dummyred"/><]-->
  <!--[><remap from="turtle" to="dog"/><]-->
  <!--[></node><]-->
  <!--[><node pkg="player_moliveira" type="player_moliveira" name="dummygreen" output="screen" respawn="true" respawn_delay="$(arg delay)"><]-->
  <!--[><remap from="moliveira" to="dummygreen"/><]-->
  <!--[><remap from="turtle" to="cheetah"/><]-->
  <!--[></node><]-->
  <!--[>To record all the data for the game<]-->
  <!--<node name="rosbag_record" pkg="rosbag" type="record" output="screen" args=" -a -o /tmp/rwsfi2016">-->
  <!--</node>-->
</launch>
